.single_item {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  column-gap: 1rem;
  align-items: center;
}

.single_item p {
  text-transform: capitalize;
}

.single_item input[type="checkbox"] {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
}

.single_item .btn {
  cursor: pointer;
  color: #fff;
  background: #06b6d4;
  border: transparent;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
}

.single_item .btn:hover {
  background: #0e7490;
}

.single_item .remove-btn {
  background: #222;
}
.single_item .remove-btn:hover {
  background: #900e0e;
}
